{:lint-as {datasplash.api/->> clojure.core/->>
           datasplash.options/defoptions clojure.core/def}
 :linters {:unsorted-required-namespaces {:level :warning}
           :unresolved-symbol {:exclude [(tools.io/with-tempdir)]}}}
