name: Clojure CI

on:
  push:
  pull_request:
    branches: [ devel ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: check out repo
      uses: actions/checkout@v3

    - name: Set up JDK 1.8 
      uses: actions/setup-java@v2
      with:
        distribution: 'zulu'
        java-version: 8

    - name: Install dependencies
      run: lein deps

    - name: Run tests
      run: lein test
